/* class_id:use "#"
div_id:use "."
<></>:use "" */

/*启动动画相关布局*/
html,
body,
iframe {
    margin: 0;
    padding: 0;
}

#nprogress {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #f7f7f7;
    z-index: 999;
}

.progress {
    border: 1px solid;
    padding: 1px;
}

/* 进度条布局位置 */
.splash {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    margin: auto;
}

/* 显示进度条的长度配置 */
.card {
    background-color: #f7f7f7;
    padding: 20px 25px 15px;
    margin: 0 auto 25px;
    width: 380px;
}

/* 进度条的配置 */
.mybar {
    background: rgb(165, 21, 226);
    height: 10px;
}

/* 进度条加载相关配置 */
.progress {
    height: 10px;
    overflow: hidden;
}

/*绘制地图*/
#Map {
    /* display: none: 设置隐藏 */
    /* display: none; */
    width: 20%;
    height: 40%;
    position: absolute;
    top: 300px;
    right: 850px;
    z-index: -1;
    /* position: relative;
    top:50px;
    left: 1000px; */
}

/*屏蔽百度相关声明*/
.anchorBL {
    display: none;
}

/*基本信息间的段间距*/
.private-info {
    margin: 10px 0;
    font-size: 16px;
}

/* 鼠标悬停,字体颜色变化 */
.private-info:hover {
    color: var(--primary-color);
}

h1:hover {
    color: pink;
}

h2:hover {
    color: blue;
}

div p:hover {
    color: var(--primary-color);
}

#GPA:hover {
    color: #00FA9A;
}

#edu_content:hover {
    color: #FFD700;
}

#classes_basic:hover {
    color: #9400D3;
}

#classes_basic_fill:hover {
    color: #8A2BE2;
}

#classes_core:hover {
    color: #9400D3;
}

#classes_core_fill:hover {
    color: #8A2BE2;
}

#classes_option:hover {
    color: #9400D3;
}

#classes_option_fill:hover {
    color: #8A2BE2;
}

#stu-work:hover {
    color: #DC143C;
}

#stu-work_fill:hover {
    color: #DC143C;
    ;
}

#com-work:hover {
    color: #1E90FF;
}

#com-work_fill:hover {
    color: #00BFFF;
}

#lan:hover {
    color: #00FFFF;
}

#lan_fill:hover {
    color: #00FF7F;
}

#En_Level:hover {
    color: #00FFFF;
}

#En_Level_fill:hover {
    color: #00FF7F;
}

/*课程类别样式*/
#classes_basic {
    /* font-family: 黑体; */
    font-weight: bold;
    /* font-size: 20px; */
    margin: 10px 0
}

#classes_core {
    font-weight: bold;
    margin: 10px 0
}

#classes_option {
    font-weight: bold;
    margin: 10px 0
}

/*GPA样式*/
#GPA {
    font-weight: bold;
    margin: 10px 0
}

/*大学经历类别样式*/
#stu-work {
    font-weight: bold;
    margin: 10px 0
}

#com-work {
    font-weight: bold;
    margin: 10px 0
}

#lan {
    font-weight: bold;
    margin: 10px 0
}

#En_Level {
    font-weight: bold;
    margin: 10px 0
}

/*定义无冠照样式*/
.me {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 5px;
    width: 50%;
    height: 75%;
    transform: translate(-40px, 15px);
}

/* 容器为栅格布局 */
.container {
    /* 网格布局 */
    display: grid;
    /* 设置阴影 */
    box-shadow: 0px 10px 20px 20px lightgrey;
    /* 设置圆角 */
    border-radius: 10px;
    width: 680px;
    /* margin: 100px auto:上边下边 左边右边 */
    margin: 0px 200px 0 0;
}

/* title样式 */
#title {
    /* 不予显示 */
    display: none;
}

/*侧边(左边)留距*/
.container>div {
    margin-left: 30px;
}

/* 划分为4等分,基本信息占3份,无冠照占1份 */
.basic-info {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

/* 社交按钮部分 */
footer {
    margin-top: 20px;
    text-align: center;
}

/* 电荷相关定义 */
.node {
    stroke: #fff;
    stroke-width: 1.5px;
}

.link {
    stroke: #999;
    stroke-opacity: .6;
}

/* 电荷相关 */
force_1 {
    /* display: none; */
    position: Fixed;
    top: 20px;
    right: 28px;
    z-index: 1;
}

force_2 {
    position: Fixed;
    top: 140px;
    right: 660px;
    z-index: 1;
    transform: rotate(87deg);
}

force_3 {
    /* display: none; */
    position: Fixed;
    top: 260px;
    right: 330px;
    z-index: 1;
    transform: rotate(147deg);
}

force_4 {
    position: Fixed;
    top: 280px;
    right: 80px;
    z-index: 1;
    transform: rotate(200deg);
}

force_5 {
    /* display: none; */
    position: Fixed;
    top: 402px;
    right: 620px;
    z-index: 1;
    transform: rotate(287deg);
}

force_6 {
    position: Fixed;
    top: 520px;
    right: 47px;
    z-index: 1;
    transform: rotate(187deg);
}

/* 饼图配置 */
/* 提示框 */
.tooltip {
    font-family: simsun;
    font-size: 14px;
    width: 120;
    height: auto;
    position: absolute;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    background-color: white;
    border-radius: 5px;
    z-index: 1;
}

/* 饼图 */
svg_pie {
    position: fixed;
    top: 1px;
    right: 300px;
    z-index: 1;
}

/* 直方图布局配置 */
svg_hist {
    position: fixed;
    top: 300px;
    right: 300px;
    z-index: 1;
}

/* 可视化布局 */
svg_music {
    position: absolute;
    top: 398px;
    left: 367px;
    z-index: 1;
}

audio {
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 1;
}

a {
    position: fixed;
    bottom: 6px;
    right: 300px;
}

/* 尝试隐藏滑动条 */
::-webkit-scrollbar {
    display: none;
    /* Chrome Safari */
}