/*启动动画相关布局*/
html,
body,
iframe {
    margin: 0;
    padding: 0;
}

#nprogress {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #f7f7f7;
    z-index: 999;
}

.spinner-icon {
    display: none !important;
}

.progress {
    border: 1px solid;
    padding: 1px;
}

.splash {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    margin: auto;
}

.splash img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 100px;
}

.card {
    background-color: #f7f7f7;
    padding: 20px 25px 15px;
    margin: 0 auto 25px;
    width: 380px;
    /*-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);*/
}

.mybar {
    background: #29d;
    height: 10px;
}

.progress {
    height: 10px;
    overflow: hidden;
}

/* 定义全局色板 */
:root {
    /* 主蓝色，按钮，社交图标 */
    --primary-color: #71b3dd;
    /* 主蓝色，深，导航 */
    --primary-dark-color: #4489b5;
    --text-color-gray: #8b979f;
    --text-color-light-gray: #c1c7cb;
    --text-color-dark-gray: #5a6f7c;
}

footer ul {
    display: flex;
}

footer ul li {
    list-style: none;
    margin: auto;
}

footer .fab {
    color: var(--primary-color);
    font-size: 24px;
}

footer .fas {
    color: var(--primary-color);
    font-size: 24px;
}

/**以上这部分与底栏有关/

/*绘制地图*/
#Map {
    width: 20%;
    height: 40%;
    position: Fixed;
    top: 200px;
    left: 25px;
    z-index: -1;
    /* position: relative;
    top:50px;
    left: 1000px; */
}

/*屏蔽百度相关声明*/
.anchorBL {
    display: none;
}

/*基本信息间的段间距*/
.private-info {
    margin: 10px 0;
    font-size: 16px;
}

/* 鼠标悬停,字体颜色变化 */
.private-info:hover {
    color: var(--primary-color);
}

h1:hover {
    color: pink;
}

h2:hover {
    color: blue;
}

div p:hover {
    color: var(--primary-color);
}

#GPA:hover {
    color: #00FA9A;
}

#edu_content:hover {
    color: #FFD700;
}

#classes_basic:hover {
    color: #9400D3;
}

#classes_basic_fill:hover {
    color: #8A2BE2;
}

#classes_core:hover {
    color: #9400D3;
}

#classes_core_fill:hover {
    color: #8A2BE2;
}

#classes_option:hover {
    color: #9400D3;
}

#classes_option_fill:hover {
    color: #8A2BE2;
}

#stu-work:hover {
    color: #DC143C;
}

#stu-work_fill:hover {
    color: #DC143C;
    ;
}

#com-work:hover {
    color: #1E90FF;
}

#com-work_fill:hover {
    color: #00BFFF;
}

#lan:hover {
    color: #00FFFF;
}

#lan_fill:hover {
    color: #00FF7F;
}

#En_Level:hover {
    color: #00FFFF;
}

#En_Level_fill:hover {
    color: #00FF7F;
}

/*课程类别样式*/
#classes_basic {
    /* font-family: 黑体; */
    font-weight: bold;
    /* font-size: 20px; */
    margin: 10px 0
}

#classes_core {
    font-weight: bold;
    margin: 10px 0
}

#classes_option {
    font-weight: bold;
    margin: 10px 0
}

/*GPA样式*/
#GPA {
    font-weight: bold;
    margin: 10px 0
}

/*大学经历类别样式*/
#stu-work {
    font-weight: bold;
    margin: 10px 0
}

#com-work {
    font-weight: bold;
    margin: 10px 0
}

#lan {
    font-weight: bold;
    margin: 10px 0
}

#En_Level {
    font-weight: bold;
    margin: 10px 0
}

/*定义无冠照样式*/
.me {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 5px;
    width: 50%;
    height: 80%;
    transform: translate(-40px, 15px);
}

/* 容器为栅格布局 */
.container {
    display: grid;
    box-shadow: 0px 10px 20px 5px lightgrey;
    width: 700px;
    margin: 100px auto;
}

/*侧边(左边)留距*/
.container>div {
    margin-left: 30px;
}

/* 划分为4等分,基本信息占3份,无冠照占1份 */
.basic-info {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

/* 社交按钮部分 */
footer {
    margin-top: 20px;
    text-align: center;
}

/* 电荷相关定义 */
.node {
    stroke: #fff;
    stroke-width: 1.5px;
}

.link {
    stroke: #999;
    stroke-opacity: .6;
}

/* 电荷相关 */
force_1 {
    position: Fixed;
    top: 5px;
    left: 28px;
}

force_2 {
    position: Fixed;
    top: 80px;
    right: 40px;
}

force_3 {
    position: Fixed;
    top: 180px;
    left: 0px;
}

force_4 {
    position: Fixed;
    top: 380px;
    right: 180px;
}

force_5 {
    position: Fixed;
    top: 480px;
    left: 160px;
}

force_6 {
    position: Fixed;
    top: 600px;
    right: 200px;
}